<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon Details</title>
</head>
<body>

<h2 Coupon Details/>
    Code : <b th:text = "${coupon.code}"/><br/>
    Discount :<b th:text = "${coupon.discount}"/><br/>
    Expiry Date :<b th:text = "${coupon.exp_date}"/><br/>
    
    <br>
<hr>
<a href="/logout"> Logout </a>
</body>
</html>